@import 'font.scss';
@import 'colors.scss';
@import 'card.scss';
@import 'icons.scss';

body {
    background: $nightGradient no-repeat;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1980px;
    padding: 55px;
    width: 100%;
}

#weatherAppContainer {
    color: #fff;
    font-family: $siteFont;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    .cityName {
        font-size: 5rem;
        font-weight: 700;
        margin: 0;
    }
    .numDaysForecast {
        font-size: 3.6rem;
        margin: 1rem 0 2rem;
        text-transform: capitalize;
    }
    .cardContainer {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        justify-content: center;
        max-width: 1550px;
        margin: 0 auto;
        width: 100%;
    }
}