$font-background: #fff;
$cardBackground: #fff;
$cardFont: #000;
$defaultGradient: linear-gradient(to bottom, #B83737 0% , #D1792C 100%);
$nightGradient: linear-gradient(to bottom, rgba(30,60,156, 1) 0% , rgba(0,0,0,0.7) 100%);